# Dependencies
node_modules/

# Build output
#dist/

# TypeScript incremental files
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files
.env
.env.*

# macOS
.DS_Store

# IDE/editor
.idea/
.vscode/
